html {
    font-size: 20px;
    line-height: 1.5;
    font-family: "PT Sans", sans-serif;
    --main-bg-color: #fff;
    --main-text-color: #000;
    --sidebar-bg-color: #ac4142;
    --link-color: #ac4142;
    --sidebar-text-color: #fff;
    --sidebar-secondary-color: rgba(255, 255, 255, .5);
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background: var(--main-bg-color);
    color: var(--main-text-color);
}

a {
    text-decoration: none;
    color: var(--link-color);
}

a:hover, a:focus {
    outline: none;
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: bold;
    line-height: 1.25;
    color: var(--link-color);
    text-rendering: optimizeLegibility;
}

h1 {
    font-size: 2rem;
}

h2 {
    margin-top: 1rem;
    font-size: 1.5rem;
}

h3 {
    margin-top: 1.5rem;
    font-size: 1.25rem;
}

h4, h5, h6 {
    margin-top: 1rem;
    font-size: 1rem;
}
time {
    opacity: .5;
}

#page {
    display: grid;
    grid-auto-columns: 18em 42em;
    min-height: 100%;
}

@media (max-width: 62em) {
    #page {
        grid-auto-columns: 18em 1fr;
    }
}

#page > main {
    grid-column: 2;
    padding: 4rem 3rem;
}

#page > aside {
    background: var(--sidebar-bg-color);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 18em;
}

@media (max-width: 40em) {
    #page > aside {
        width: 14.4em;
    }
}

#page > aside,
#page > aside a {
    color: var(--sidebar-text-color);
}

#page > aside > a {
    position: absolute;
    top: -900%;
    left: -900%;
    color: var(--sidebar-bg-color);
    background: var(--sidebar-text-color);
    width: 90%;
    text-align: center;
}

#page > aside > a:focus {
    top: 0.5rem;
    left: 50%;
    margin-left: -45%;
}

#page > aside > div {
    position: absolute;
    left: 2rem;
    right: 2rem;
    bottom: 1rem;
}

#page > aside > div > div > p {
    font-size: 1.25rem;
    font-weight: 300;
    color: var(--sidebar-secondary-color);
    margin: 0 0 1rem;
}

#page > aside > div > div > h1 > a {
    font-family: "Fredericka the Great", serif;
    font-size: 3.25rem;
    font-weight: 400;
    line-height: 1.25;
    text-decoration: none;
}

#page > aside > div > div > h1 > a:focus {
    text-decoration: underline;
}

#page > aside > div > nav > ul {
    list-style: none;
    padding-left: 0;
}

#page > aside > div > ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 2rem 0 .5rem;
    padding: 0;
}

#page > main article > h1 {
    margin-top: 0;
    color: var(--link-color);
}

#social-media li a {
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    line-height: 1.2rem;
    vertical-align: text-bottom;
    padding: .3rem;
    border-radius: 50%;
    border: 1px solid transparent;
}

#social-media li a svg {
    fill: #fff;
}
#social-media li a:hover,
#social-media li a:focus {
    border-color: var(--sidebar-text-color);
}

felix-icon {
    display: inline-block;
}
felix-icon.dynamically-replaced {
    width: 1.2em;
    height: 1.2em;
}
#page aside #language-switches {
    position: fixed;
    top: 2px;
    right: 2px;
    border: 1px solid var(--link-color);
    padding: .2em .6em;
    border-radius: .2em;
    display: flex;
    align-items: center;
    color: var(--link-color);
    --transition-time: .1s;
    transition: all var(--transition-time);
}
#page aside #language-switches a {
    color: var(--link-color);
    margin-left: .5em;
    transition: all var(--transition-time);
}
#page aside #language-switches felix-icon svg {
    fill: var(--link-color);
    transition: all var(--transition-time);
}
#page aside #language-switches:focus-within {
    background: var(--link-color);
}
#page aside #language-switches a:focus {
    text-decoration: none;
    color: var(--sidebar-text-color);
}
#page aside #language-switches:focus-within felix-icon svg {
    fill: var(--sidebar-text-color);
}
