<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default "en" }}">
<head>
    <meta charset="utf-8">
    <title>{{ block "title" . }}{{ .Site.Title }} {{ with .Params.Title }} | {{ . }}{{ end }}{{ end }}</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1">
    <link href="/css/styles.css" rel="stylesheet">
    <link href="/font/Fredericka-the-Great.css" rel="stylesheet">
    <link href="/font/PT-Sans.css" rel="stylesheet">
    {{ if .RSSLink }}
    <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}">
    <link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}">
    {{ end }}
    <link rel="shortcut icon" href="/favicon.png">
</head>
<body>
<div id="page">
{{ partial "navigation.html" . }}
<main id="main">
{{ block "main" . }}{{ end }}
</main>
</div>
<script src="/js/felix-icon.js"></script>
</body>
</html>
