<aside>
    <a href="#main">{{.Site.Params.goToMain}}</a>
    <div>
        <div>
            <h1><a href="{{ "/" | relLangURL }}">{{ .Site.Title }}</a></h1>
            {{ with .Site.Params.description | safeHTML }}<p>{{.}}</p>{{ end }}
        </div>
        <div id="language-switches">
            <felix-icon>language</felix-icon>
            {{ range .Translations }}
            <a class="language" href="{{ .RelPermalink }}">{{ .Language.Params.languageSwitch }}</a>
            {{ end }}
        </div>

        <ul id="social-media">
            {{ range .Site.Params.social }}
            <li>
                <a href="{{ .link }}" title="{{ .title }}" target="_blank" rel="noopener noreferrer">
                    <felix-icon>{{ .icon }}</felix-icon>
                </a>
            </li>
            {{ end }}
        </ul>
    </div>
</aside>

