<aside>
    <a href="#main">{{.Site.Params.goToMain}}</a>
    <div>
        <div>
            <h1><a href="{{ "/" | absLangURL }}">{{ .Site.Title }}</a></h1>
            {{ with .Site.Params.description | safeHTML }}<p>{{.}}</p>{{ end }}
        </div>
{{/* /}}
        <nav>
            <ul>
                {{ with .Site.GetPage "section" "/" }}
                <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
                {{ end }}
                {{ range sort .Site.Sections "Title" }}
                <li><a href="{{ .Permalink }}">{{ .Params.Title }}</a></li>
                {{ end }}
            </ul>
        </nav>
{{/* */}}
        {{ range .Translations }}
        <a class="language" href="{{ .Permalink }}">{{ .Language.Params.languageSwitch }}</a>
        {{ end }}

        <ul>
            {{ range .Site.Params.social }}
            <li><a href="{{ .link }}" class="icon icon-{{ .icon }}" target="_blank" rel="noopener noreferrer"><span>{{ .title }}</span></a></li>
            {{ end }}
        </ul>
    </div>
</aside>

