{{ define "main" }}
{{/*
    <section style="margin-bottom: 3rem; padding-bottom: 2rem; border-bottom: 1px solid rgba(127, 127, 127, .3);">
    {{ .Page.Content }}
    </section>
*/}}
    {{ range where .Site.RegularPages "Section" "blog" }}
        <article>
            <h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
            {{ partial "date" . }}
            {{ .Summary }}
            {{ if .Truncated }}
            <a href="{{ .RelPermalink }}">Read More…</a>
            {{ end }}
        </article>
    {{ end }}
{{ end }}
